.markdown-body {
        box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
        height: 12rem;
	}
	html {
        font-size: 4vw;
    }
    div {
        width: 27rem;
    }
